/* All stories are block elements with the given scroll and snap behaviour. */
.story-horizontal,
.story-vertical,
.story-horizontal-hidden,
.story-vertical-hidden,
.story-horizontal-disabled,
.story-vertical-disabled  {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: block mandatory;
}

/* All direct children of stories snap to their start position. */
.story-horizontal > *,
.story-vertical > *,
.story-horizontal-hidden > *,
.story-vertical-hidden > *,
.story-horizontal-disabled > *,
.story-vertical-disabled > * {
    scroll-snap-align: start;
}

/* Horizontal stories don't wrap their elements. */
.story-horizontal,
.story-horizontal-hidden,
.story-horizontal-disabled {
    display: flex;
}

/* All children in horizontal stories are displayed as blocks and have a width of 100%. */
.story-horizontal > *,
.story-horizontal-hidden > *,
.story-horizontal-disabled > * {
    display: block;
    flex: 0 0 100%;
}

/* Vertical stories do wrap their elements normal. */
.story-vertical,
.story-vertical-hidden,
.story-vertical-disabled {
    white-space: normal;
}

/* All children in vertical stories are displayed as blocks and have a height of 100% */
.story-vertical > *,
.story-vertical-hidden > *,
.story-vertical-disabled > * {
    display: block;
    height: 100%;
}

/* Stories with the -hidden suffix don't show their scrollbars. */
.story-horizontal-hidden::-webkit-scrollbar,
.story-vertical-hidden::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}
    
.story-horizontal-hidden,
.story-vertical-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

/* Stories with the -disabled suffix don't show their scrollbars nor do they allow scrolling (e.g. with mouswheel). */
.story-horizontal-disabled,
.story-vertical-disabled {
    overflow: hidden;
}
